<%- include("partials/header.ejs") %>
<div class="view-blog">
    <div class="image-blog">
        <img src="<%= url_image %>" alt="">
    </div>
    <div class="text-blog">
        <h3><%= title %></h3>
        <p><%= txt_content %></p>
    </div>
</div>
<%- include("partials/footer.ejs") %>